<div class="py-4">
    <h3 class="text-center uppercase text-lg font-bold text-amber-800">
        Universidades de Colombia
    </h3>
</div>
<div class="py-2">
    <table class="mx-auto">
      <thead>
        <tr class="text-sm font-bold text-white bg-gray-900 uppercase">
          <th class="px-2 py-1">Nombre</th>
          <th class="px-2 py-1">Web Site</th>
        </tr>
      </thead>
      <tbody class="bg-white text-base font-semibold text-indigo-600">
        <tr *ngFor="let university of universities">
          <td class="px-2 py-1 border">{{ university.name }}</td>
          <td class="px-2 py-1 border">{{ university.web_pages }}</td>
        </tr>
      </tbody>
    </table>
  </div>