<div class="py-10">
  <table class="w-full">
    <thead>
      <tr class="text-sm font-bold text-center text-gray-800 bg-gray-100 uppercase">
        <th class="px-2 py-1">N°</th>
        <th class="px-2 py-1">Personaje</th>
      </tr>
    </thead>
    <tbody class="bg-white text-base font-semibold text-indigo-600 text-center">
      <tr>
        <td class="px-2 py-1 border">1</td>
        <td class="px-2 py-1 border">Goku</td>
      </tr>
      <tr>
        <td class="px-2 py-1 border">2</td>
        <td class="px-2 py-1 border">Gojan</td>
      </tr>
      <tr>
        <td class="px-2 py-1 border">3</td>
        <td class="px-2 py-1 border">Vegeta</td>
      </tr>
    </tbody>
  </table>
</div>